<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EntitiesToDtos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EntitiesToDtos.Properties.Settings>
            <setting name="hostname" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="basedatos" serializeAs="String">
                <value />
            </setting>
            <setting name="nsentidades" serializeAs="String">
                <value />
            </setting>
            <setting name="nsdatamodel" serializeAs="String">
                <value />
            </setting>
            <setting name="rutadtos" serializeAs="String">
                <value />
            </setting>
            <setting name="rutaassemblers" serializeAs="String">
                <value />
            </setting>
        </EntitiesToDtos.Properties.Settings>
    </userSettings>
</configuration>